<div class="container contact">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <a class="btn col-lg-4 col-lg-offset-1" href="https://github.com/m1roh">
                <img src="images/github.png" alt="github">
            </a>
            <a class="btn col-lg-4 col-lg-offset-2" href="www.linkedin.com/in/romain-haye">
                <img src="images/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <a class="btn col-lg-4 col-lg-offset-1" href="https://twitter.com/h_rom1">
                <img src="images/twitter.jpg" alt="twitter">
            </a>
            <a class="btn col-lg-4 col-lg-offset-2" href="https://www.facebook.com/rhum1.971">
                <img src="images/facebook.png" alt="facebook">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Ou envoyez moi un mail…</h4>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSubject4">Sujet</label>
                        <select class="form-control" id="inputSubject4">
                            <option selected>Choisissez</option>
                            <option value="stage">Proposition de stage</option>
                            <option value="stage">Proposition d'emploi</option>
                            <option value="stage">Demande de devis projet web</option>
                            <option value="stage">Autre chose</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                        <label for="inputMessage12">Message</label>
                        <textarea class="form-control" id="inputMessage12" rows="5" placeholder="Entrez votre message"></textarea>
                    </div>
                <div class="form-group col-md-12">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Pays</label>
                        <input type="text" id="inputState" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>