#liseret {
    display: none;
}

header {
    margin: 0;
}

#h1_titre {
    margin-left: 20%;
}

#photo {
    display: none;
}

#corps_cv {
    flex-direction: column;
    margin: 0;
}

#experience {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

.dt_exp {
    margin-right: 5%
}

.exp_titres {
    margin-left: 28%;
}

.em_titres {
    margin-right: 32%;
}

#laposte {
    margin-left: 32%;
}

#facteur {
    padding-left: 5%;
}

.dd_titres {
    display: flex;
}

.dd_textes {
    display: none;
}

#comp_form_footer {
    width: 100%;
}

#comp_form {
    flex-direction: column-reverse;
}

#competence {
    width: 100%;
    text-align: center;
    margin-bottom: -3%;
}

#formation {
    width: 100%;
    text-align: center;
    margin-left: 0;
}

.dd_titres.form-titre {
    margin-left: 21%;
}

.dt_form {
    margin-right: 4%;
}

#nerac {
    margin-left: 32%;
}

#bias {
    margin-left: 36%;
}

.comp_titres {
    margin-right: 3%;
}

#ul_divers {
    list-style: none;
    margin-right: 7%;
}

footer {
    margin: 0;
}