<article class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h2>Certificats OpenClassrooms</h2>
      <hr class="blue">
      <div class="row">
        <div class="col-lg-4">
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/3856210045">Apprenez à créer votre site web avec HTML5 et CSS3</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/2515930928">Prenez en main
              <br> Bootstrap</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/7869449961">Apprenez à coder avec JavaScript</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/8657910195">Créez des pages web interactives avec JavaScript</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/9516619281">Introduction
              <br> à jQuery</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/5331614518">Simplifiez vos développements JavaScript avec jQuery</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/2781079959">Utilisez des API REST dans vos projets web</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/2395397556">Des applications ultra-rapides avec Node.js</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/3141870565">Concevez votre site web avec PHP et MySQL</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/9558614062">Apprenez à développer
              <br> en C#</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/3957988213">Programmez en orienté objet avec C#</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/3376003318">Démarrez votre projet avec Python</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/1005068461">Gérez votre code avec Git et GitHub</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/3126202404">Découvrez les
              <br> solutions CMS</a>
          </div>
          <hr>
          <div class="link">
            <a href="https://openclassrooms.com/course-certificates/9583046174">Créez votre premier site avec WordPress</a>
          </div>
        </div>
      </div>
      <hr class="blue">
      <h2>Autres Certificats</h2>
      <hr class="blue">
      <div class="col-lg-6">
        <div class="media">
          <div class="media-left">
            <a href="https://certificates.opquast.com/certificate/ZYOQL7/">
              <img class="media-object" src="images/badge_avance.svg" alt="badge opquast avance">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Opquast® Certified</h3>
            <em>Maîtrise de la qualité en projet Web</em>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="media">
          <div class="media-left">
            <a href="https://www.efset.org/cert/H7XWE4">
              <img class="media-object" src="images/certificate_66.png" alt="badge efid english test">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">EF Standard English Test®</h3>
            <em>C1 : Avancé - Basé sur le CEFR (Common European Framework of References) -</em>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1" ui-sref="main.cv">Retour</div>
  </div>
</article>