<section id="liseret"></section>
<section id="cv">
  <header>
    <div id="titre">
      <h1 id="h1_titre">Romain Haye</h1>
      <h3 id="h3_titre">Etudiant Full Stack Developpeur</h3>
    </div>
    <img src="images/IMG_20161129_140728%20(2).jpg" alt="C'est moi!" title="C'est moi!" id="photo"> </header>
  <section id="corps_cv">
    <article id="experience">
      <h2>Expériences Professionnelles</h2>
      <dl id="dl_exp">
        <dt class="dt_exp">01/2016 07/2017</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Impact</h5>
            <h6 class="em_titres">
              <em>Préparateur de commandes</em>
            </h6>
          </div>
          <p class="dd_textes">Montage de meubles de cuisines suivant commandes client</p>
        </dd>
        <dt class="dt_exp">10/2013 05/2015</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Maison Ste Croix</h5>
            <h6 class="em_titres">
              <em>Jardinier</em>
            </h6>
          </div>
          <p class="dd_textes">Entretien d'un parc paysager de 11 ha</p>
        </dd>
        <dt class="dt_exp">01/2013-04/2013</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Petit Casino</h5>
            <h6 class="em_titres">
              <em>Employé Polyvalent</em>
            </h6>
          </div>
          <p class="dd_textes">Réception marchandise, mise en rayon, encaissement...</p>
        </dd>
        <dt class="dt_exp">07/2012 11/2012</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres" id="laposte">La Poste</h5>
            <h6 class="em_titres" id="facteur">
              <em>Facteur</em>
            </h6>
          </div>
          <p class="dd_textes">Distribution de courriers, recommandés et colis</p>
        </dd>
        <dt class="dt_exp">02/2012 06/2012</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">L' Electrolyse</h5>
            <h6 class="em_titres">
              <em>Manutentionnaire</em>
            </h6>
          </div>
          <p class="dd_textes">Préparation de pièces métalliques avant traitement chimique</p>
        </dd>
        <dt class="dt_exp">04/2011 07/2011</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">St Avit Loisirs</h5>
            <h6 class="em_titres">
              <em>Serveur / Jardinier</em>
            </h6>
          </div>
          <p class="dd_textes">Service en salle, plonge, plantation et entretien du parc paysager</p>
        </dd>
        <dt class="dt_exp">09/2009 02/2010</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">S.A Bondet</h5>
            <h6 class="em_titres">
              <em>Opérateur Polyvalent</em>
            </h6>
          </div>
          <p class="dd_textes">Gestion de quatres machines à extrusion</p>
        </dd>
        <dt class="dt_exp">10/2008 05/2009</dt>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Mr Bricolage</h5>
            <h6 class="em_titres">
              <em>Vendeur Conseil</em>
            </h6>
          </div>
          <p class="dd_textes">Vente active au rayon jardin, entretien des plantes</p>
        </dd>
        <dt class="dt_exp">
          <h1>. . .</h1>
        </dt>
      </dl>
    </article>
    <section id="comp_form_footer">
      <section id="comp_form">
        <article id="competence">
          <h2>Compétences</h2>
          <dl>
            <dt class="comp_titres">Informatique</dt>
            <dd>
              <ul class="dd_textes">
                <li>JavaScript
                  <a href="https://openclassrooms.com/course-certificates/7869449961" id="certif_javascript" class="precision"
                    title="Certificat JavaScipt">Regardez mon certificat OpenclassRooms</a>
                </li>
                <li>HTML5 / CSS3
                  <em class="precision">Ca commence à bien rentrer...</em>
                </li>
                <li>PHP / MYSQL
                  <em class="precision">Alors là jedébute, une chose à la fois...</em>
                </li>
              </ul>
            </dd>
            <dt class="comp_titres">Espaces Verts</dt>
            <dd>
              <ul class="dd_textes">
                <li>Préparation des sols</li>
                <li>Plantation</li>
                <li>Taille</li>
                <li>Tonte</li>
              </ul>
            </dd>
            <dt class="comp_titres">Vente</dt>
            <dd>
              <ul class="dd_textes">
                <li>Vente active</li>
                <li>Conseil</li>
                <li>Mise en rayon</li>
                <li>Inventaire</li>
              </ul>
            </dd>
          </dl>
          <aside id="divers">
            <h3 id="divers_titre">Divers</h3>
            <ul id="ul_divers">
              <li>Anglais :
                <a href="https://www.linkedin.com/redir/redirect?url=https%3A%2F%2Fwww%2Eefset%2Eorg%2F&urlhash=vv6A&trk=profile_certification_company_title"
                  id="certif_anglais" class="precision" title="Certificat Anglais">Bon</a>
              </li>
              <li>Permis B - Véhicule personnel</li>
              <li>Célibataire</li>
            </ul>
          </aside>
        </article>
        <article id="formation">
          <h2>Formation</h2>
          <dl>
            <dt class="dt_form">Depuis juin 2016</dt>
            <dd>
              <h5 class="dd_titres form-titre" id="">OpenclassRooms / FreeCodeCamp</h5>
              <p class="dd_textes">Full Stack Developer</p>
            </dd>
            <dt class="dt_form">2007</dt>
            <dd>
              <h5 class="dd_titres form-titre" id="nerac">C.F.P.P.A de Nérac</h5>
              <p class="dd_textes">B.E.P.A Jardinier d'Espaces Verts</p>
            </dd>
            <dt class="dt_form">2005</dt>
            <dd>
              <h5 class="dd_titres form-titre" id="bias">M.F.R de Bias</h5>
              <p class="dd_textes">Vendeur Conseil en Jardinerie</p>
            </dd>
          </dl>
        </article>
      </section>
      <footer>
        <h2>Contact</h2>
        <section id="contact">
          <article id="adresse">
            <h3 class="titre_contact">Romain Haye</h3>
            <ul id="ul_adresse">
              <li>29 rue Ampère</li>
              <li>Bat D / Appt 73</li>
              <li>33810 Ambès</li>
              <li>07 82 92 04 44</li>
            </ul>
          </article>
          <article id="social">
            <h3 class="titre_contact">Ou contactez moi sur:</h3>
            <section id="liens">
              <a href="mailto:hayromain.rh@gmail.com">
                <img src="images/gmail.jpg" alt="Gmail" title="Gmail" id="gmail">
              </a>
              <a href="https://www.facebook.com/rhum1.971">
                <img src="images/facebook.png" alt="Facebook" title="Facebook" id="facebook">
              </a>
              <a href="https://twitter.com/h_rom1">
                <img src="images/twitter.jpg" alt="Twitter" title="Twitter" id="twitter">
              </a>
              <a href="https://fr.linkedin.com/in/romain-haye-77121963">
                <img src="images/linkedin.png" alt="Linkedin" title="Linkedin" id="linkedin">
              </a>
            </section>
          </article>
        </section>
      </footer>
    </section>
  </section>
</section>