<article class="container">
  <dl class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <dt class="dt_form">Depuis Septembre 2017</dt>
      <hr class="blue">
      <dd>
        <h5 class="dd_titres form-titre" id="">Wild Code School</h5>
        <hr>
        <p class="dd_textes">Développeur Web Full Stack</p>
      </dd>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <dt class="dt_form">Juin 2016 / Septembre 2017</dt>
      <hr class="blue">
      <dd>
        <h5 class="dd_titres form-titre" id="">OpenclassRooms / FreeCodeCamp</h5>
        <hr>
        <p class="dd_textes">Développeur Web Full Stack</p>
      </dd>
    </div>
    <div class="col-lg-1 col-lg-offset-1" ui-sref="main.cv">Retour</div>
    <div class="col-lg-4 col-lg-offset-1">
      <dt class="dt_form">2007</dt>
      <hr class="blue">
      <dd>
        <h5 class="dd_titres form-titre" id="nerac">C.F.P.P.A de Nérac</h5>
        <hr>
        <p class="dd_textes">B.E.P.A Jardinier d'Espaces Verts</p>
      </dd>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <dt class="dt_form">2005</dt>
      <hr class="blue">
      <dd>
        <h5 class="dd_titres form-titre" id="bias">M.F.R de Bias</h5>
        <hr>
        <p class="dd_textes">Vendeur Conseil en Jardinerie</p>
      </dd>
    </div>
  </dl>
</article>