<div class="container">
  <dl class="row" id="dl_exp">
    <div class="col-lg-3">
      <dt class="dt_exp">01/2016 07/2017</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Impact</h5>
          <h6 class="em_titres">
            <em>{{'EXP1.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP1.SKILLS' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">10/2013 05/2015</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Maison Ste Croix</h5>
          <h6 class="em_titres">
            <em>{{'EXP2.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP2.SKILLS' | translate}} <br> {{'EXP2.SKILLS_L2' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">01/2013-04/2013</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Petit Casino</h5>
          <h6 class="em_titres">
            <em>{{'EXP3.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP3.SKILLS' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3">
      <dt class="dt_exp">07/2012 11/2012</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres" id="laposte">La Poste</h5>
          <h6 class="em_titres" id="facteur">
            <em>{{'EXP4.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP4.SKILLS' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">02/2012 06/2012</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">L' Electrolyse</h5>
          <h6 class="em_titres">
            <em>{{'EXP5.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP5.SKILLS' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">04/2011 07/2011</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">St Avit Loisirs</h5>
          <h6 class="em_titres">
            <em>{{'EXP6.JOB' | translate}}</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">{{'EXP6.SKILLS' | translate}}</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-2">
        <dt class="dt_exp">09/2009 02/2010</dt>
        <hr>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">S.A Bondet</h5>
            <h6 class="em_titres">
              <em>{{'EXP7.JOB' | translate}}</em>
            </h6>
          </div>
          <hr>
          <p class="dd_textes">{{'EXP7.SKILLS' | translate}}</p>
        </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <dt class="dt_exp">10/2008 05/2009</dt>
        <hr>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Mr Bricolage</h5>
            <h6 class="em_titres">
              <em>{{'EXP8.JOB' | translate}}</em>
            </h6>
          </div>
          <hr>
          <p class="dd_textes">{{'EXP8.SKILLS' | translate}}</p>
        </dd>
    </div>
    <div class="col-lg-1 col-lg-offset-1" ui-sref="main.cv">Retour</div>
  </dl>
</div>