<div class="container">
  <dl class="row" id="dl_exp">
    <div class="col-lg-3">
      <dt class="dt_exp">01/2016 07/2017</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Impact</h5>
          <h6 class="em_titres">
            <em>Préparateur de commandes</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Montage de meubles de cuisines suivant commandes client</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">10/2013 05/2015</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Maison Ste Croix</h5>
          <h6 class="em_titres">
            <em>Jardinier</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Entretien d'un parc paysager <br> de 11 ha</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">01/2013-04/2013</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">Petit Casino</h5>
          <h6 class="em_titres">
            <em>Employé Polyvalent</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Réception marchandise, mise en rayon, encaissement...</p>
      </dd>
    </div>
    <div class="col-lg-3">
      <dt class="dt_exp">07/2012 11/2012</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres" id="laposte">La Poste</h5>
          <h6 class="em_titres" id="facteur">
            <em>Facteur</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Distribution de courriers, recommandés et colis</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">02/2012 06/2012</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">L' Electrolyse</h5>
          <h6 class="em_titres">
            <em>Manutentionnaire</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Préparation de pièces métalliques avant traitement chimique</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <dt class="dt_exp">04/2011 07/2011</dt>
      <hr>
      <dd>
        <div class="dd_titres">
          <h5 class="exp_titres">St Avit Loisirs</h5>
          <h6 class="em_titres">
            <em>Serveur / Jardinier</em>
          </h6>
        </div>
        <hr>
        <p class="dd_textes">Service en salle, plonge, plantation et entretien du parc paysager</p>
      </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-2">
        <dt class="dt_exp">09/2009 02/2010</dt>
        <hr>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">S.A Bondet</h5>
            <h6 class="em_titres">
              <em>Opérateur Polyvalent</em>
            </h6>
          </div>
          <hr>
          <p class="dd_textes">Gestion de quatres machines <br> à extrusion</p>
        </dd>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <dt class="dt_exp">10/2008 05/2009</dt>
        <hr>
        <dd>
          <div class="dd_titres">
            <h5 class="exp_titres">Mr Bricolage</h5>
            <h6 class="em_titres">
              <em>Vendeur Conseil</em>
            </h6>
          </div>
          <hr>
          <p class="dd_textes">Vente active au rayon jardin, entretien des plantes</p>
        </dd>
    </div>
    <div class="col-lg-1 col-lg-offset-1" ui-sref="main.cv">Retour</div>
  </dl>
</div>